.logo{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 7rem;
    background-color: #F47C7C;
    font-family: 'Sacramento', cursive;
    text-shadow: 2px 2px #FAD4D4;;
}

marquee{
    font-size: 2rem;
    background-color: #FAD4D4;
}

#rules{
    padding: 7% 15%;
    background-color: #FAD4D4;;
    font-family: 'Ubuntu';
     
}

.rule{
    text-align: center;
    margin: 10% auto 5%;
    font-size: 2.5rem;
    
    color: #F47C7C;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.rule-box{
    text-align: center;
    padding: 5%;
    
}

.fa-4x{
    margin-bottom: 1rem;
    color: violet;
}

.fa-4x:hover{
    color: #F47C7C;
}

#upload{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    background-color: #F47C7C;

    
}

.enter-text{
   font-family: 'Ubuntu';
   font-weight: bold;
   font-size: 1.5rem;
   padding-top: 0.9%;

}

#winner{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: #F47C7C;
    background-image: url('gradient1.jpg');
    background-size : cover;
    background-repeat: no-repeat;
}

#timeleft{
    margin-top: 10%;
    border: 2% solid;
    margin-bottom: 10%;
}